:root{

    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height)- var(--navbar-height));
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.app__content{
    padding-top: 36px;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 17.666%;
}
.grid__column-10{
    padding-left: 16px;
    padding-right: 16px;
    width: 82.334%;
}
.btn{
    min-width: 100px;
    height: 30px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 20px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;

}
.btn--primary{
    background-color: #f55434;
}


